<template>
  <div
    class="call-to-action relative gradient-bg bg-auto bg-top bg-no-repeat"
    :class="showTablet ? 'md:pt-48 pt-30' : 'md:py-48 py-30'"
  >
    <div class="flex items-center justify-center">
      <div class="flex-1 z-10">
        <p class="text-center text-white text-4 font-600 uppercase mb-4">Social Marketing &amp; Analytics</p>
        <h1 class="text-center text-white xl:text-36 lg:text-20 text-12 xl:leading-32 lg:leading-18 leading-14 font-500 mb-14">Take control of your data</h1>
        <div class="sm:flex justify-center">
          <app-button class="inline w-50 sm:mr-1 sm:mb-0 mb-4 m-auto block text-darkgray hover:text-white">Get Started</app-button>
          <app-button class="inline w-50 sm:ml-1 m-auto block text-darkgray hover:text-white">Explore Features</app-button>
        </div>
      </div>
    </div>
    <div
      class="flex justify-end lg:mt-40 sm:mt-30 mt-20"
      v-if="showTablet"
    >
      <img
        class="z-10"
        :src="'https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/img/tablet.png'"
        alt=""
      >
    </div>
  </div>
</template>
<script>
export default {
  name: 'CallToAction',
  props: {
    showTablet: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
.gradient-bg:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1933&q=80');
  opacity: .05;
}
</style>
