<template>
  <div class="features flex flex-wrap">
    <div
      class="xl:w-4/12 lg:w-4/12 sm:w-6/12 w-full my-10 px-3"
      v-for="(feature, index) in features"
      :key="index"
    >
      <FeatureCard :feature="feature"/>
    </div>
  </div>
</template>

<script>
import FeatureCard from '@common/FeatureCard'
import Features from '@data/Features'
export default {
  name: 'Features',
  data () {
    return {
      features: Features.data
    }
  },
  components: {
    FeatureCard
  }
}
</script>
