<template>
  <nav class="footer-navigation lg:flex items-center lg:flex-row flex-col">
    <div class="xl:w-5/12 lg:pr-8 lg:inline hidden">
      <router-link to="/">
        <img src="https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/logo/logo-inverse.png" alt="">
      </router-link>
    </div>
    <div class="flex-1">
      <div class="lg:flex items-center lg:flex-row flex-col">
        <div
          class="flex-1"
          v-for="(link, index) in navLinks"
          :key="index"
        >
          <router-link
            class="link relative block text-darkgray lg:text-center text-4 font-500 py-4"
            :to="link.url"
            v-if="index < (navLinks.length - 1)"
          >
            {{link.text}}
          </router-link>
          <router-link
            class="block lg:mt-0 mt-4 mx-0 lg:w-auto w-50"
            :to="link.url"
            v-else
          >
            <app-button class="!border-darkgray hover:text-white text-darkgray border-px border-purple">
              {{link.text}}
            </app-button>
          </router-link>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'FooterNavigation',
  props: {
    navLinks: {
      type: Array,
      default: () => [],
      required: true
    }
  }
}
</script>
