<template>
  <div
    class="header-banner relative bg-cover bg-center bg-no-repeat gradient-bg gradient-bg-light"
    :style="'background-image: url('+ bgImage +')'"
  >
    <div class="relative flex lg:items-center justify-center z-10 lg:py-52 py-48">
      <div class="xl:w-4/12 lg:w-7/12 md:w-9/12 w-11/12">
        <slot />
        <ScrollToButton
          class="absolute m-auto block left-0 right-0 bottom-20"
          @click="scrollToSection"
        />
      </div>
    </div>
  </div>
</template>
<script>
import ScrollToButton from '@common/ScrollToButton'
export default {
  name: 'HeroBanner',
  props: {
    bgImage: {
      type: String,
      default: ''
    },
    scrollTo: {
      type: String,
      default: ''
    }
  },
  methods: {
    scrollToSection () {

    }
  },
  components: {
    ScrollToButton
  }
}
</script>
