<template>
  <div class="our-team flex flex-wrap">
    <div
      class="xl:w-3/12 lg:w-4/12 sm:w-6/12 w-full my-10 px-3"
      v-for="(teamMember, index) in teamMembers"
      :key="index"
    >
      <TeamCard :team-member="teamMember"/>
    </div>
  </div>
</template>
<script>
import TeamCard from '@common/TeamCard'
export default {
  name: 'OutTeam',
  props: {
    teamMembers: {
      type: Array,
      defaul: () => []
    }
  },
  components: {
    TeamCard
  }
}
</script>
