<template>
  <nav class="top-navigation lg:flex items-center lg:flex-row flex-col">
    <div class="xl:w-5/12 lg:pr-8">
      <div class="flex items-center w-100%">
        <router-link
          class="flex-1 pr-12"
          to="/"
        >
          <img src="https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/logo/logo.png" alt="">
        </router-link>
        <div class="burger-menu lg:hidden cursor-pointer">
          <span class="block border-b-2px border-white w-12 mb-2" />
          <span class="block border-b-2px border-white w-12 mb-2" />
          <span class="block border-b-2px border-white w-12" />
        </div>
      </div>
    </div>
    <div class="flex-1 lg:inline hidden">
      <div class="flex justify-end">
        <div
          class="flex-1"
          v-for="(link, index) in navLinks"
          :key="index"
        >
          <router-link
            class="link relative block text-white lg:text-center text-right font-500 py-4"
            :to="link.url"
            v-if="index < (navLinks.length - 1)"
          >
            {{link.text}}
          </router-link>
          <router-link
            class="block m-auto lg:mt-0 mt-4 lg:w-auto w-50"
            :to="link.url"
            v-else
          >
            <app-button class="!bg-transparent !border-white !text-white border-px border-white">
              {{link.text}}
            </app-button>
          </router-link>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'TopNavigation',
  props: {
    navLinks: {
      type: Array,
      default: () => [],
      required: true
    }
  }
}
</script>

<style scoped>
@media screen and (min-width: 1024px) {
  .link:hover:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    left: 0;
    bottom: 0;
  }
}
</style>
