<template>
  <div class="about-page">
    <HeroBanner :bg-image="bgImage">
      <ContentCopy :details="details1" />
    </HeroBanner>
    <section class="bg-white">
      <SectionCard
        class="xl:w-9/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-58 py-20"
        :details="details2"
        :img-src="imgSrc1"
        :layout-type="1"
      />
    </section>
    <section class="bg-sectionBg">
      <SectionCard
        class="xl:w-9/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-58 py-20"
        :details="details2"
        :img-src="imgSrc2"
        :layout-type="2"
      />
    </section>
    <section class="bg-white">
      <div class="xl:w-10/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-46 py-20">
        <div class="w-6/12 m-auto block">
          <ContentCopy :details="teamHeader" />
        </div>
        <OurTeam :team-members="teamMembers" />
      </div>
    </section>
    <CallToAction :show-tablet="true" />
  </div>
</template>

<script>
import HeroBanner from '@layout/HeroBanner'
import ContentCopy from '@common/ContentCopy'
import SectionCard from '@common/SectionCard'
import OurTeam from '@layout/OurTeam'
import CallToAction from '@layout/CallToAction'
import Images from '@data/Images'
import Plans from '@data/Plans'
import Copy from '@data/ContentCopy'
import TeamMembers from '@data/TeamMembers'

export default {
  name: 'AboutUs',
  data () {
    return {
      bgImage: Images.data[7].image_url,
      plans: Plans.data,
      details1: Copy.data[4],
      details2: Copy.data[2],
      details3: Copy.data[3],
      teamHeader: Copy.data[8],
      imgSrc1: 'https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/img/robot.png',
      imgSrc2: 'https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/img/phone.png',
      teamMembers: TeamMembers.data
    }
  },
  components: {
    HeroBanner,
    ContentCopy,
    SectionCard,
    OurTeam,
    CallToAction
  }
}
</script>
