<template>
  <div class="articles-page">
    <HeroBanner :bg-image="bgImage">
      <ContentCopy :details="details" />
    </HeroBanner>
    <div class="xl:w-9/12 lg:w-11/12 w-full m-auto lg:py-46 py-20 lg:px-0 px-4">
      <div class="flex flex-wrap xl:-mx-4 -mx-2">
        <div
          class="lg:w-4/12 sm:w-6/12 w-full xl:px-4 px-2 mb-8"
          v-for="(article, index) in articles"
          :key="index"
        >
          <router-link :to="'/article/' + article.slug">
            <ArticleCard :article="article" />
          </router-link>
        </div>
      </div>
    </div>
    <CallToAction :show-tablet="true" />
  </div>
</template>

<script>
import HeroBanner from '@layout/HeroBanner'
import ContentCopy from '@common/ContentCopy'
import CallToAction from '@layout/CallToAction'
import ArticleCard from '@common/ArticleCard'
import Images from '@data/Images'
import Copy from '@data/ContentCopy'
import Articles from '@data/Articles'

export default {
  name: 'Articles',
  data () {
    return {
      bgImage: Images.data[7].image_url,
      details: Copy.data[5],
      articles: Articles.data
    }
  },
  components: {
    HeroBanner,
    ContentCopy,
    CallToAction,
    ArticleCard
  }
}
</script>
