<template>
  <div class="article-page">
    <HeroBanner :bg-image="bgImage">
      <ContentCopy :details="details" />
    </HeroBanner>
  </div>
</template>

<script>
import HeroBanner from '@layout/HeroBanner'
import ContentCopy from '@common/ContentCopy'
import Images from '@data/Images'
import Copy from '@data/ContentCopy'

export default {
  name: 'Article',
  data () {
    return {
      bgImage: Images.data[5].image_url,
      details: Copy.data[5]
    }
  },
  components: { HeroBanner, ContentCopy }
}
</script>
