<template>
  <div class="contact-us-page">
    <HeroBanner :bg-image="bgImage">
      <ContentCopy :details="details1" />
    </HeroBanner>
    <div class="lg:flex xl:w-9/12 lg:w-11/12 w-full m-auto lg:py-46 py-20 lg:px-0 px-4">
      <div class="flex-1 xl:pr-40 lg:pr-30">
        <ContentCopy
          class="lg:pr-20"
          :details="details2"
        />
      </div>
      <div class="flex-1">
        <ContactForm />
      </div>
    </div>
  </div>
</template>

<script>
import HeroBanner from '@layout/HeroBanner'
import ContentCopy from '@common/ContentCopy'
import ContactForm from '@common/ContactForm'
import Images from '@data/Images'
import Copy from '@data/ContentCopy'

export default {
  name: 'ContactUs',
  data () {
    return {
      bgImage: Images.data[6].image_url,
      details1: Copy.data[4],
      details2: Copy.data[6]
    }
  },
  components: {
    HeroBanner,
    ContentCopy,
    ContactForm
  }
}
</script>
