<template>
  <div class="features-page">
    <HeroBanner :bg-image="bgImage">
      <ContentCopy :details="details1" />
    </HeroBanner>
    <section class="bg-white">
      <SectionCard
        class="xl:w-9/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-46 py-20"
        :details="details2"
        :img-src="imgSrc1"
        :layout-type="1"
      />
    </section>
    <section class="bg-sectionBg">
      <SectionCard
        class="xl:w-9/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-46 py-20"
        :details="details3"
        :img-src="imgSrc2"
        :layout-type="2"
      />
    </section>
    <CallToAction :show-tablet="true" />
  </div>
</template>

<script>
import HeroBanner from '@layout/HeroBanner'
import ContentCopy from '@common/ContentCopy'
import SectionCard from '@common/SectionCard'
import CallToAction from '@layout/CallToAction'
import Images from '@data/Images'
import Copy from '@data/ContentCopy'

export default {
  name: 'Features',
  data () {
    return {
      bgImage: Images.data[1].image_url,
      details1: Copy.data[4],
      details2: Copy.data[2],
      details3: Copy.data[2],
      imgSrc1: 'https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/img/robot.png',
      imgSrc2: 'https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/img/phone.png'
    }
  },
  components: {
    HeroBanner,
    ContentCopy,
    SectionCard,
    CallToAction
  }
}
</script>
