<template>
  <div class="home-page">
    <HeroBanner :bg-image="bgImage">
      <ContentCopy :details="details1" />
    </HeroBanner>
    <section class="bg-sectionBg">
      <SectionCard
        class="xl:w-9/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-46 py-20"
        :details="details2"
        :img-src="imgSrc1"
        :layout-type="2"
      />
    </section>
    <section class="bg-sectionBg relative gradient-bg gradient-bg-light">
      <div class="xl:w-8/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-46 py-20">
        <ContentCopy class="relative z-10" :details="details3" />
        <Features class="relative z-10" />
      </div>
    </section>
    <section class="bg-sectionBg">
      <SectionCard
        class="xl:w-9/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-46 py-20"
        :details="details2"
        :img-src="imgSrc2"
        :layout-type="2"
      />
    </section>
    <section class="bg-white">
      <div class="xl:w-10/12 lg:w-11/12 w-full m-auto lg:px-0 px-4 lg:py-46 py-20">
        <OurTeam :team-members="teamMembers" />
      </div>
    </section>
    <CallToAction :show-tablet="true" />
  </div>
</template>

<script>
import HeroBanner from '@layout/HeroBanner'
import ContentCopy from '@common/ContentCopy'
import SectionCard from '@common/SectionCard'
import Features from '@layout/Features'
import OurTeam from '@layout/OurTeam'
import CallToAction from '@layout/CallToAction'
import Images from '@data/Images'
import Copy from '@data/ContentCopy'
import TeamMembers from '@data/TeamMembers'

export default {
  name: 'Home',
  data () {
    return {
      bgImage: Images.data[2].image_url,
      details1: Copy.data[3],
      details2: Copy.data[2],
      details3: Copy.data[9],
      features: Features.data,
      teamMembers: TeamMembers.data,
      imgSrc1: 'https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/img/phone.png',
      imgSrc2: 'https://gitlab.com/PenAndPapers/misocial/-/raw/master/src/assets/img/laptop_vector.png'
    }
  },
  components: {
    HeroBanner,
    ContentCopy,
    Features,
    SectionCard,
    CallToAction,
    OurTeam
  }
}
</script>
