<template>
  <div class="blogs-page">
    <HeroBanner :bg-image="bgImage">
      <ContentCopy :details="details" />
    </HeroBanner>
    <div class="xl:w-9/12 lg:w-11/12 w-full m-auto lg:py-46 py-20 lg:px-0 px-4">
      <div class="lg:flex xl:-mx-10 lg:-mx-5">
        <div
          class="flex-1 xl:px-10 lg:px-5"
          v-for="(plan, index) in plans"
          :key="index"
        >
          <PlanCard :details="plan" />
        </div>
      </div>
    </div>
    <CallToAction />
  </div>
</template>

<script>
import HeroBanner from '@layout/HeroBanner'
import PlanCard from '@common/PlanCard'
import ContentCopy from '@common/ContentCopy'
import CallToAction from '@layout/CallToAction'
import Images from '@data/Images'
import Plans from '@data/Plans'
import Copy from '@data/ContentCopy'

export default {
  name: 'Pricing',
  data () {
    return {
      bgImage: Images.data[3].image_url,
      details: Copy.data[4],
      plans: Plans.data
    }
  },
  components: {
    HeroBanner,
    ContentCopy,
    PlanCard,
    CallToAction
  }
}
</script>
