<template>
  <div
    class="button flex items-center justify-center bg-white hover:bg-purple uppercase text-3 font-700 cursor-pointer rounded-64 px-4 py-5"
    @click="clicked"
  >
    <slot />
  </div>
</template>
<script>
export default {
  name: 'AppButton',
  methods: {
    clicked () {
      this.$emit('click')
    }
  }
}
</script>
