<template>
  <div
    class="select-box bg-white cursor-pointer relative"
    @click="showDropDown"
  >
    <div class="flex relative items-center w-100%  overflow-x-hidden px-4 py-4 border-px border-lightgray rounded-1 whitespace-no-wrap">
      <span class="flex-1 text-darkgray font-600">{{value || placeHolder}}</span>
      <div class="flex items-center absolute right-0 h-full px-4 bg-white">
        <AppIcon :class="[dropDownState ? 'lnr-chevron-up' : 'lnr-chevron-down']" />
      </div>
    </div>
    <div
      class="options absolute w-full z-10 bg-white border-px border-t-0 border-lightgray -mt-1 rounded-b-1 overflow-x-hidden max-h-52"
      v-show="dropDownState"
    >
      <div
        class="options px-4 py-2 hover:bg-purple text-darkgray hover:text-white font-600"
        :class="{'hidden': option === value}"
        v-for="(option, index) in options"
        :key="index"
        @click="updateValue(option)"
      >
        {{option}}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AppSelectBox',
  props: {
    options: {
      type: [Array, Object],
      default: () => ['Apple', 'Blueberries', 'Cherry', 'Dewberries', 'Lemon', 'Orange', 'Peach']
    },
    placeHolder: {
      type: String,
      default: 'Please select...'
    }
  },
  data () {
    return {
      dropDownState: false,
      value: ''
    }
  },
  methods: {
    showDropDown () {
      this.dropDownState = !this.dropDownState
    },
    updateValue (value) {
      this.value = value
      this.$emit('input', value)
    }
  }
}
</script>
