<template>
  <input
    class="text-darkgray font-600 w-full outline-none border-px border-lightgray rounded-1 text-4 px-4 py-4"
    :type="type"
    v-model="value"
    @input="updateValue"
  />
</template>
<script>
export default {
  name: 'AppTextBox',
  props: {
    type: {
      type: String,
      default: 'text'
    }
  },
  data () {
    return {
      value: ''
    }
  },
  methods: {
    updateValue () {
      this.$emit('input', this.value)
    }
  }
}
</script>
