<template>
  <textarea
    class="text-darkgray font-600 w-full outline-none border-px border-lightgray rounded-1 text-4 px-4 py-4"
    :rows="rows"
    v-model="value"
    @input="updateValue"
  />
</template>
<script>
export default {
  name: 'AppTextArea',
  props: {
    rows: {
      type: Number,
      default: 6
    }
  },
  data () {
    return {
      value: ''
    }
  },
  methods: {
    updateValue () {
      this.$emit('input', this.value)
    }
  }
}
</script>
