<template>
  <div class="action-card flex items-start">
    <img :src="details.icon" alt="">
    <div class="flex-1 pl-10">
      <p class="text-white text-6 font-500 mb-4 max-line-2">{{details.title}}</p>
      <p class="text-white text-4 max-line-4">{{details.description}}</p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ActionCard',
  props: {
    details: {
      type: Object,
      default: () => {},
      required: true
    }
  }
}
</script>
