<template>
  <artice class="article-card bg-white rounded-3 overflow-hidden shadow-custom-xl">
    <div class="relative pb-8/12 mb-10 bg-gray">
      <img
        class="w-full h-full absolute rounded-t-3"
        :src="article.image"
        alt=""
      >
    </div>
    <div class="p-8 pt-0 bg-white">
      <p class="text-white text-6 text-darkgray font-500 mb-1 max-line-1">
        {{article.title}}
      </p>
      <span class="text-3 text-gray">{{article.date}}</span>
      <div class="line w-30 h-px bg-purple my-5 block" />
      <p class="text-white text-4 text-gray max-line-4 mb-6">
        {{article.description}}
      </p>
      <div class="flex justify-between">
        <span class="text-3 text-gray">{{article.comments}} comments</span>
        <div class="bg-purple pt-2 px-2 rounded-2">
          <AppIcon class="lnr-user text-white text-6" />
        </div>
      </div>
    </div>
  </artice>
</template>
<script>
export default {
  name: 'ArticleCard',
  props: {
    article: {
      type: Object,
      default: () => {},
      required: true
    }
  }
}
</script>
