<template>
  <article class="content-copy">
    <div
      class="flex items-center mb-6"
      :class="details.centered ? 'justify-center' : 'justify-start'"
    >
      <span
        class="line h-px w-8"
        :class="details.centered ? 'bg-white' : 'bg-darkgray'"
      />
      <span
        class="text-4 text-center font-600 uppercase px-4"
        :class="details.centered ? 'text-white' : 'text-darkgray'"
      >
        {{details.category}}
      </span>
      <span
        class="line h-px w-8 bg-white"
        :class="details.centered ? 'bg-white' : 'bg-darkgray'"
        v-if="details.centered"
      />
    </div>
    <h1
      class="xl:text-36 lg:text-20 text-12 xl:leading-32 lg:leading-18 leading-14 font-500 mb-6"
      :class="[
        details.centered ? 'text-center text-white' : 'text-left text-darkgray',
        details.small_header ? 'text-black' : ''
      ]"
    >
      {{details.title}}
    </h1>
    <div
      class="block mb-10 w-11/12"
      :class="details.centered ? 'm-auto px-14' : ''"
    >
      <p
        class="text-4 max-line-2"
        :class="details.centered ? 'text-center text-white' : 'text-left text-gray'"
      >
        Ullamco pariatur minim minim aliquip aliqua nisi reprehenderit cupidatat anim eiusmod adipisicing laborum aute.
        Tempor ullamco est consequat ex tempor exercitation velit aliquip pariatur ullamco Lorem do.
      </p>
    </div>
    <div
      class="flex items-center"
      :class="details.centered ? 'justify-center' : 'justify-start'"
      v-if="details.buttons.length > 0"
    >
      <router-link
        class="mr-2 lg:w-4/12"
        v-for="(button, index) in details.buttons"
        :key="index"
        :to="button.url"
      >
        <app-button class="w-50 hover:border-0 border-lightgray hover:shadow-custom-xs">
          {{button.text}}
        </app-button>
      </router-link>
    </div>
  </article>
</template>
<script>
export default {
  name: 'ContentCopy',
  props: {
    details: {
      type: Object,
      default: () => {},
      required: true
    }
  }
}
</script>
