<template>
  <div class="contact-form flex flex-wrap">
    <div class="xl:w-6/12 w-full mb-4 xl:pr-2">
      <label class="block mb-2 uppercase text-3 text-gray font-600" for="">Full Name *</label>
      <app-text-box />
    </div>
    <div class="xl:w-6/12 w-full mb-4 xl:pl-2">
      <label class="block mb-2 uppercase text-3 text-gray font-600" for="">Email *</label>
      <app-text-box />
    </div>
    <div class="xl:w-6/12 w-full mb-4 xl:pr-2">
      <label class="block mb-2 uppercase text-3 text-gray font-600" for="">How much do you want to spend? *</label>
      <app-select-box :options="spendOptions"/>
    </div>
    <div class="xl:w-6/12 w-full mb-4 xl:pl-2">
      <label class="block mb-2 uppercase text-3 text-gray font-600" for="">Which services are you interested in? *</label>
      <app-select-box :options="servicesOptions" />
    </div>
    <div class="w-full mb-4">
      <label class="block mb-2 uppercase text-3 text-gray font-600" for="">Additional info</label>
      <app-text-area :rows="6" />
    </div>
    <div class="w-48">
      <app-button class="!bg-purple text-white">Get Started</app-button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ContactForm',
  data () {
    return {
      spendOptions: ['$10', '$35', '$50', '$100'],
      servicesOptions: [
        'Aute nisi ipsum mollit aliqua incididunt eu tempor id elit minim nostrud dolor mollit anim',
        'Nisi deserunt fugiat velit officia adipisicing excepteur cillum sunt',
        'Non commodo deserunt magna sunt minim nostrud ullamco cillum mollit',
        'Voluptate cillum do pariatur quis amet commodo magna deserunt deserunt magna qui',
        'Pariatur et incididunt labore ullamco velit nulla consectetur deserunt enim',
        'Et velit exercitation pariatur nostrud ea est nostrud nisi sunt ea irure ullamco cillum id'
      ]
    }
  }
}
</script>
