<template>
  <div class="feature-card flex items-start">
    <div class="bg-white flex items-center justify-center h-26 w-26 rounded-9999">
      <img :src="feature.icon" alt="">
    </div>
    <div class="flex-1 pl-10">
      <p class="text-white text-6 font-500 mb-4 max-line-1">{{feature.title}}</p>
      <p class="text-white text-4 max-line-2">{{feature.description}}</p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FeatureCard',
  props: {
    feature: {
      type: Object,
      default: () => {},
      required: true
    }
  }
}
</script>
