<template>
  <div class="get-started-card bg-white py-20 px-12">
    <img
      class="block m-auto mb-10 h-24"
      :src="details.icon"
      alt=""
    >
    <p class="text-white text-6 text-center text-darkgray font-500 mb-4 max-line-1">
      {{details.title}}
    </p>
    <div class="line w-20 h-2px bg-purple m-auto my-10 block" />
    <p class="text-white text-4 text-center text-gray max-line-4">
      {{details.description}}
    </p>
  </div>
</template>
<script>
export default {
  name: 'GetStartedCard',
  props: {
    details: {
      type: Object,
      default: () => {},
      required: true
    }
  }
}
</script>
