<template>
  <div class="plan-card bg-white px-10 py-30 rounded-6 border-px border-lightgray hover:shadow-custom-xl lg:mb-0 mb-8">
    <img
      class="block m-auto mb-16 h-40"
      :src="details.icon"
      alt=""
    >
    <p class="text-center text-gray font-500 uppercase mb-5">{{details.type}}</p>
    <p class="text-center text-30 text-darkgray font-500 leading-20 mb-10">
        <sup class="text-4 font-500 -top-12">$</sup>{{details.price}}<span class="text-4 font-500">/month</span>
    </p>
    <p class="text-center text-gray mb-10 max-line-5">
      {{details.description}}
    </p>
    <app-button class="w-50 m-auto border-px text-gray hover:text-white hover:border-0 border-lightgray">Select Plan</app-button>
  </div>
</template>
<script>
export default {
  name: 'PlanCard',
  props: {
    details: {
      type: Object,
      default: () => {},
      required: true
    }
  }
}
</script>
