<template>
  <div
    class="scroll-to-btn flex items-center justify-center text-gray hover:text-white h-24 w-24 bg-white hover:bg-purple cursor-pointer rounded-9999 shadow-custom-xs"
    @click="clicked"
  >
    <AppIcon class="lnr-arrow-down text-5 font-500" />
  </div>
</template>
<script>
export default {
  name: 'ScrollToButton',
  methods: {
    clicked () {
      this.$emit('clicked')
    }
  }
}
</script>
