<template>
  <div
    class="section-card lg:flex items-center"
    :class="[layoutType !== 1 ? 'lg:flex-row-reverse' : '']"
  >
    <div
      class="flex-1 mb-8"
      :class="[layoutType !== 1 ? 'lg:pl-30' : '']"
    >
      <ContentCopy :details="details" />
    </div>
    <div class="flex-1 text-center">
      <div :class="[layoutType !== 1 ? '' : 'relative inline-flex items-center justify-end rounded-9999 p-4/12 bg-purple m-auto']">
        <img
          :class="[layoutType !== 1 ? 'lg:w-auto sm:w-8/12 w-auto m-auto block' : 'absolute w-9/12 m-auto block top-0 bottom-0 left-0 right-0']"
          :src="imgSrc"
        >
      </div>
    </div>
  </div>
</template>
<script>
import ContentCopy from '@common/ContentCopy'
export default {
  name: 'SectionCard',
  props: {
    details: {
      type: Object,
      default: () => {},
      required: true
    },
    imgSrc: {
      type: String,
      default: '',
      required: true
    },
    layoutType: {
      type: Number,
      default: 1
    }
  },
  components: {
    ContentCopy
  }
}
</script>
