<template>
  <div class="team-card">
    <div class="relative pb-9/12 mb-10 bg-gray">
      <img
        class="w-full h-full absolute"
        :src="teamMember.image"
        alt=""
      >
    </div>
    <p class="text-center text-gray text-5 font-600 uppercase">
      {{fullname}}
    </p>
    <p class="text-center text-gray text-4 font-300">
      {{teamMember.position}}
    </p>
  </div>
</template>
<script>
export default {
  name: 'TeamCard',
  props: {
    teamMember: {
      type: Object,
      default: () => {},
      required: true
    }
  },
  computed: {
    fullname () {
      return this.teamMember.firstname + '  ' + this.teamMember.lastname
    }
  }
}
</script>
