html, body {
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  padding: 0px;
  margin: 0px;
}

.gradient-bg:before {
  content: ' ';
  background: rgb(88,40,231);
  background: linear-gradient(122deg, rgba(88,40,231,1) 0%, rgba(111,68,242,1) 31%, rgba(136,211,206,1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.gradient-bg-light:before {
  opacity: .7 !important;
}

.max-line-1, .max-line-2, .max-line-3, .max-line-4, .max-line-5 {
  overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.max-line-1 {
	-webkit-line-clamp: 1;
}
.max-line-2 {
	-webkit-line-clamp: 2;
}
.max-line-3 {
	-webkit-line-clamp: 3;
}
.max-line-4 {
	-webkit-line-clamp: 4;
}
.max-line-5 {
	-webkit-line-clamp: 5;
}