<template>
  <div id="app">
    <TopNavigation
      class="navigation fixed top-0 z-50 w-full py-12 xl:px-20 px-4"
      :nav-links="navLinks"
    />
    <router-view class="bg-bodyBg" />
    <FooterNavigation
      class="my-12 xl:px-20 px-4"
      :nav-links="navLinks"
    />
  </div>
</template>

<script>
import TopNavigation from '@layout/TopNavigation'
import FooterNavigation from '@layout/FooterNavigation'
import NavLinks from '@data/Navigation'

export default {
  name: 'App',
  data () {
    return {
      navLinks: NavLinks.data
    }
  },
  methods: {
    addNavBg () {
      const nav = document.querySelector('.navigation')
      if ((window.scrollY + 50) >= nav.scrollHeight) {
        nav.classList.add('bg-purple', '!py-2')
      } else {
        nav.classList.remove('bg-purple', '!py-2')
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.addNavBg)
  },
  components: {
    TopNavigation,
    FooterNavigation
  }
}
</script>
